$secondary: #ffffff;

.bio {
  color: $secondary;
  text-align: left;
  line-height: 2;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  color: $secondary;
}

.move-up {
  margin-bottom: 40px;
}
