$secondary: #ebe9fc;

.bio {
  color: $secondary;
  line-height: 2;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  color: $secondary;
}

.display-about {
  height: auto;
}

.move-up {
  margin-bottom: 40px;
}

.image-right {
  @media (max-width: 900px) {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

.about-pic {
  @media (max-width: 900px) {
    margin-left: 90px; // Adjust as needed for medium screens
  }

  @media (max-width: 576px) {
    margin-bottom: 20px; // Ensure spacing on small screens
  }
}


.text-responsive-center {
  text-align: center;
  @media (min-width: 750px) {
    // sm breakpoint and up
    text-align: left;
  }
}

.profilepic {
  width: 370px;
  height: auto;
  display: block;
  margin: 0 auto;
  border:solid 3px rgb(111, 0, 246);
  border-radius:40px;
  z-index: 2;
  position: relative;

  background-size: cover;
  
  min-width:200px;
  max-width: 300px;

}
