$secondary: #ffffff;

.bio {
  color: $secondary;
  text-align: left;
  line-height: 2;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  color: $secondary;
}

.display-about{
  height:auto;
}

.move-up {
  margin-bottom: 40px;
}

.lottie{
  @media (max-width: 900px) {
    margin-right: 50px; // Adjust as needed for medium screens
  }

  @media (max-width: 576px) {
    margin-bottom: 20px; // Ensure spacing on small screens
  }
}
.lottie-animation {
  width: 100%;
  max-width: 500px; // Default max width
}

.text-responsive-center {
  
  text-align:center;
  @media (min-width: 900px) { // sm breakpoint and up
    text-align: left;
  }
}