.app-container {
  position: relative;
  min-height: 100vh;
}

.background {
}

.stable_bg {
  background-color: #090917;
  height:auto;
  

  // Ensures the gradient background stays behind other content
}

.gradient_bg {
  background-color: rgb(9, 9, 23);
  height:100%;

  background: linear-gradient(
    200deg,
    rgba(9, 9, 23, 1) 49%,
    rgba(67, 47, 154, 1) 95%
  );
}

.content {
  position: relative;
  z-index: 1;
  // Ensures content stays above the gradient background
}
