
$primary: #1D1D1E;
$secondary: #ebe9fc;
$outline:#7B1BF5;



header{
    //background-color: $primary;
    
    color: $secondary;
}

.intro{
  font-size:50px;
}

.display-hero {
  height:auto; /* Default height for smaller screens */
}

@media (min-width: 700px) {
  .display-hero {
    height: 100vh;
  }
}

.greeting{
    
    
  font-size: 70px;
  color: #bf04fb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:  #bf04fb;
  
 
    
   
    
    
    
  
}
.text-responsive-center-hero {
  
  text-align:center;
  @media (min-width: 576px) { // sm breakpoint and up
    text-align: left;
  }
}



.btn.custom {
  background-color:#bf04fb;
  border: none; // Optional: Removes any border
  color: $secondary; // Sets the text color

}


.profilepic {
  
  width:370px;
  height:auto;
  display: block;
  margin: 0 auto;
 
  
  background-size: cover;
  
}

@media (max-width: 700px) {
  .profilepic {
    width:350px;
    width:350px;
    margin-bottom: 70px;
  }
}

@keyframes animate {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}



.linkedin{
  width:40px;
}

