$secondary: #ffffff;

.title {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  color: $secondary;
}

.card-styles {
  height: 550px;
  cursor: pointer;
  background-color: transparent;
  border: solid white;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding: 26px 20px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-styles:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 50px 4px rgba(111, 3, 138, 0.6);
  filter: brightness(1.1);
}

.text-responsive-center {
  text-align: center;
  @media (min-width: 750px) {
    // sm breakpoint and up
    text-align: left;
  }
}

/* Parent container for the cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust alignment as needed */
  gap: 20px; /* Space between cards */
}

.card-desc {
  color: white;
}

.card-header {
  color: white;
}

.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 4px;
  margin-left: 10px;
  align-items: center;
}

.tag {
  font-size: 12px;
  font-weight: 400;
  color: blueviolet;
  background-color: #171721;
  padding: 2px 8px;
  border-radius: 10px;
  border: solid;
  border-color: blueviolet;
}

.img-style {
  border-radius: 10px;

  border: solid white;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card-header {
  border: none;
}

.card-link {
  text-decoration: none;
}
